# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase/
.firebaserc

# Build output
.next/
out/
functions/node_modules/
functions/lib/
functions/.env

# Logs
*.log

# dotenv environment variables
.env
.env.local
.env.*.local

# Mac system files
.DS_Store

# IDEs
.vscode/
.idea/

.next/
.DS_Store
node_modules/
out/
